project:
  type: website
  output-dir: handbook-site

website:
  title: "Contributor Experience Handbook"
#  image: "cxh.png"
#  favicon: "favicon.png"
  site-url: https://contributor-experience.org
  repo-url: https://github.com/contributor-experience/handbook
  repo-actions: [edit, issue]
  page-navigation: true
#  search:
#    algolia:
#      index-name: <user name>
#      application-id: <application ID>
#      search-only-api-key: <insert api key>
#      analytics-events: true
#      show-logo: true
  page-footer:
    center:
      - text: "About"
        href: about.qmd
      - text: "Privacy notice"
        href: privacy.qmd
      - text: "License"
        href: LICENSE
    right:
      - icon: github
        href: https://github.com/contributor-experience/handbook
        aria-label: Contributor Experience Handbook GitHub
  navbar:
    background: light
    logo: images/Contributor-Experience-Logo-contrast.png
#    title: false
#    collapse-below: lg
    left:
      - text: "About us"
        href: about.qmd
      - text: "Guides"
        href: docs/guide/introduction.qmd
#      - text: "Gallery"
#        href: docs/gallery/introduction.qmd
      - text: "Blog"
        href: blog.qmd
      - text: "Help"
        menu:
          - text: "Report an Issue"
            icon: "bug"
            href: "https://github.com/contributor-experience/handbook/issues"
          - text: "Discussions"
            icon: "chat-right-text"
            href: "https://github.com/contributor-experience/handbook/discussions"
    right:
      - icon: github
        href: https://github.com/contributor-experience/handbook
        aria-label: Contributor Experience Handbook GitHub

  sidebar:
    - id: about
      title: "About"
      style: "docked"
      collapse-level: 1
      align: left
      contents:
        - section: "About Contributor Experience Project"
          contents:
            - docs/about/mission-and-values.qmd
            - docs/about/roadmap.qmd
            - docs/about/governance.qmd
            - docs/about/team.qmd
            - docs/about/coc.qmd
            - docs/about/sponsors.qmd
            - docs/about/acknowledgments.qmd
        - section: "Community Handbook"
          contents:
            - docs/about/style_guide.qmd
            - docs/about/deployment_guide.qmd
            - docs/about/acknowledging_contributors.qmd
            - docs/about/calendar.qmd
            - docs/about/comms_channels.qmd
            - CONTRIBUTE.md

    - id: guide
      title: "Guides"
      style: "floating"
      collapse-level: 1
      align: left
      contents:
        - section: "Introduction to Contributor Experience"
          contents:
            - docs/guide/cx/introduction.qmd
            - docs/guide/cx/the_cel_role.qmd
            - docs/guide/cx/onboarding.qmd
            - docs/guide/cx/tracking_prs.qmd
        - section: "Governance Guide"
          contents:
            - docs/guide/gov/introduction.qmd
        - section: "Collaboration Guide"
          contents:
            - docs/guide/collab/introduction.qmd
            - docs/guide/collab/meetings.qmd
        - section: "Communication Guide"
          contents:
            - docs/guide/comms/introduction.qmd
            - docs/guide/comms/glossary.qmd
            - docs/guide/comms/review_communication.qmd
            - docs/guide/comms/resources.qmd
        - section: "Tools Collection"
          contents:
            - docs/guide/tools/introduction.qmd
            - docs/guide/tools/bots.qmd
            - docs/guide/tools/cdes.qmd
            - docs/guide/tools/metrics.qmd
            - docs/guide/tools/gh-issue-template.qmd

format:
  html:
    toc: true
    theme:
      light: [cosmo, theme.scss]
    code-copy: true
    code-overflow: wrap
    css: styles.css

freeze: true

execute:
  freeze: auto
